<div class="navbar">
  <div class="brand">
    <img src="favicon-v2.ico" alt="Logo" class="favicon" />
    <h1>{{ title }}</h1>
  </div>
  <nav class="nav-links">
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="about" routerLinkActive="active">About</a>
  </nav>
</div>

<router-outlet></router-outlet>

<footer class="footer">
  Made with 💗 by
  <a href="https://github.com/ftiannn" target="_blank">ftiannn</a> ✨
</footer>
