<div class="header">
  <p>You have a bucket of {{ itemCount }} goals!</p>
</div>

<div class="main-wrapper">
  <div class="form-container">
    <p class="instruction">✨ Add a new goal to your bucket list!</p>
    <form>
      <input
        type="text"
        class="txt"
        placeholder="Plant a sakura tree 🌸"
        [(ngModel)]="goalText"
        name="goalText"
      />
      <input
        type="submit"
        class="btn"
        [value]="'➕ Add Goal'"
        (click)="addItem()"
      />
    </form>
  </div>

  <div class="goals-container">
    <p *ngIf="goals.length === 0" class="empty-state">
      🌼 Nothing here yet. Add your first goal!
    </p>
    <div
      class="goal"
      *ngFor="let goal of goals; let i = index"
      (click)="removeItem(i)"
    >
      🌟 {{ goal }}
    </div>
  </div>
</div>

<div *ngIf="showToast" class="toast">🎉 Goal added!</div>
